<div class="container">
  <h2>Lista kandydatów:</h2>

  <div class="candidate-list">
    <label *ngFor="let candidate of candidates" class="candidate-item" [ngClass]="{'selected': candidate.id === selectedCandidate}">
      <div class="candidate-details">
        <strong>{{ candidate.name }}</strong>
        <p>{{ candidate.party }}</p>
      </div>
      <input
        type="radio"
        name="candidate"
        [value]="candidate.id"
        [(ngModel)]="selectedCandidate"
        class="visible-radio"
      />
    </label>
  </div>

  <button class="submit-btn" [disabled]="!selectedCandidate" (click)="openConfirmation()">
    Oddaj głos
  </button>
  <div class="popup-overlay" *ngIf="showPopUp">
    <div class="popup-window">
      <p class="confirm-label">Potwierdź swój głos</p>
      <p class="confirm-question">Czy chcesz oddać głos na: <strong class="candidate-name">{{selectedCandidate}}</strong></p>
      <div class="popup-actions">
        <button class="confirm-btn" (click)="submitVote()">Tak</button>
        <button class="cancel-btn" (click)="closeConfirmation()">Nie</button>
      </div>
    </div>
  </div>
</div>
