<!-- <p>activevote works!</p> -->
 <div class="container">
    <div class ="highlight"></div>
    <div class="content">
      <div class="header-wrapper">
         <p id="header">Wybory prezydenckie 2024</p>
         <div id="status">
            <p>W trakcie</p>
         </div>
      </div>
      <div id="timer">
         <p>Do końca głosowania pozostało:</p>
         <app-timer [deadline]="deadline"></app-timer>
      </div>
    </div>
    <div id="votebutton">
      <p>Weź udział</p>
   </div>
 </div>
