<div class="container">
  <div class="top">
    <span class="material-symbols-outlined">
      check_circle
    </span>
   <div class="top-text">
     <p class="info-label">Głos został oddany</p>
     <p class="info-sub">Twój głos został zarejestrowany w systemie</p>
   </div>
  </div>
  <div class="receipt-container">
    <div class="left-text">
      <div class="vote-id">
        <p>ID Głosu</p>
        <strong><p>slshglskhgsdklghs</p></strong>
      </div>
      <div class="receipt-help">
        <p>Skanując kod QR lub wpisując kod w zakładce <strong>“Historia”</strong> możesz sprawdzić swój głos. Pamiętaj, że po opuszczeniu tej strony nie dostaniesz tych informacji ponownie.</p>
      </div>
    </div>
    <div class="qr-container">
      <p>nothing here for now</p>
    </div>
  </div>
  <div class="receipt-actions">
    <button class="confirm-btn">Zapisz potwierdzenie</button>
    <button class="cancel-btn">Powrót</button>
  </div>
</div>
