<div class="container">
  <div class="counter-container">
    <p id="label">Start za:</p>
    <p id="countdown">25 Dni 14 Godzin 30 Minut</p>
  </div>
  <div class="content-wrapper">
    <p id>Wybory prezydenckie 2024</p>
    <div class="date-time">
       <div id="date">
         <!--tu ikona--><time>01.01.2025</time>
       </div>
        <svg width="2" height="28" viewBox="0 0 2 28" fill="none">
        <path d="M1 1L1 27" stroke="black" stroke-opacity="0.22" stroke-width="2" stroke-linecap="round"/>
        </svg>
      <div id="time">
        <time>10:00</time>
      </div>
    </div>
    <div class="reminder-button">Ustaw przypomnienie
      <svg width="24" height="24" viewBox="0 0 48 48" fill="none">
        <path d="M38 17L24 31L10 17" stroke="black" stroke-opacity="0.38" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</div>
