.reminder-button {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 10px;
  border-radius: 0.61525rem;
  border: none;
  background: #F1F1F1;
  color: #38547E;
  font-weight: 600;
  cursor: pointer;
}
.mat-menu {
  border-radius: 0.61525rem;
}

.upcomingvote {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
  border: none;
  overflow: hidden;
  box-shadow: 0 0 15.113px -4.141px rgba(0, 0, 0, 0.14);
}

@media (max-width: 768px) {
  .upcomingvote {
    width: 310px;
  }
}

.actions {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.material-symbols-outlined {
  vertical-align: middle;
}

.button-label {
  margin-top: auto;
  margin-bottom: auto;
}

.card-title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  background-color: #38547E;
  padding: 1rem;
  color: white;
  font-size: 1.2rem;
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
}

.date-time {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.date-time span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.label {
  text-transform: uppercase;
  font-weight: 200;
}

.countdown {
  font-weight: 700;
}
