<!--<div class="container">-->
<!--  <div class="counter-container">-->
<!--    <p id="label">Start za:</p>-->
<!--    <p id="countdown">25 Dni 14 Godzin 30 Minut</p>-->
<!--  </div>-->
<!--  <div class="content-wrapper">-->
<!--    <p id>Wybory prezydenckie 2024</p>-->
<!--    <div class="date-time">-->
<!--       <div id="date">-->
<!--         &lt;!&ndash;tu ikona&ndash;&gt;<time>01.01.2025</time>-->
<!--       </div>-->
<!--        <svg width="2" height="28" viewBox="0 0 2 28" fill="none">-->
<!--        <path d="M1 1L1 27" stroke="black" stroke-opacity="0.22" stroke-width="2" stroke-linecap="round"/>-->
<!--        </svg>-->
<!--      <div id="time">-->
<!--        <time>10:00</time>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="reminder-button">Ustaw przypomnienie-->
<!--      <svg width="24" height="24" viewBox="0 0 48 48" fill="none">-->
<!--        <path d="M38 17L24 31L10 17" stroke="black" stroke-opacity="0.38" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--      </svg>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<mat-card class="upcomingvote" appearance="outlined">
  <mat-card-title class="card-title">
    <span class="label">Start za:</span>
    <span class="countdown">25 Dni 14 Godzin 30 Minut</span>
  </mat-card-title>
  <mat-card-content class="content">
    <span class="title"> Wybory prezydenckie 2024</span>
    <div class="date-time">
      <span>
        <mat-icon aria-hidden="false" aria-label="date" fontIcon="event"></mat-icon>01.01.2025
      </span>
      <mat-divider vertical></mat-divider>
      <span>
        <mat-icon aria-hidden="false" aria-label="time" fontIcon="schedule"></mat-icon>8:00
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <div class="reminder-button">Ustaw przypomnienie
      <svg width="24" height="24" viewBox="0 0 48 48" fill="none">
        <path d="M38 17L24 31L10 17" stroke="black" stroke-opacity="0.38" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </mat-card-actions>
</mat-card>
