<mat-card class="upcomingvote" appearance="outlined">
  <mat-card-title class="card-title">
    <span class="label">Start za:</span>
    <span class="countdown">25 Dni 14 Godzin 30 Minut</span>
  </mat-card-title>
  <mat-card-content class="content">
    <span class="title"> Wybory prezydenckie 2024</span>
    <div class="date-time">
      <span>
        <mat-icon aria-hidden="false" aria-label="date" fontIcon="event"></mat-icon>01.01.2025
      </span>
      <mat-divider vertical></mat-divider>
      <span>
        <mat-icon aria-hidden="false" aria-label="time" fontIcon="schedule"></mat-icon>8:00
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button class="reminder-button" [matMenuTriggerFor]="menu">
      <span class="button-label">Ustaw przypomnienie</span>
      <span class="material-symbols-outlined">notifications</span>
    </button>
    <mat-menu class="mat-menu" #menu>
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
