.dashboard {
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: inline-flex;
    padding: 3.875rem 8.6875rem 13.0625rem 8.75rem;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;

}

#greeting {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.activevotes {
    width: 72.38694rem;
    height: 6.48344rem;
    flex-shrink: 0;
}

#header {
    width: 27.26075rem;
    height: 1.07838rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.62806rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
}

.activevotes p {
    width: 72.38694rem;
    height: 1.96031rem;
    flex-shrink: 0;
    color: #000;
    font-size: 1.22106rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}