<div class="dashboard">
  <span class="greeting">Dzień dobry, Dawid!</span>
  <div class="content">
    <div class="activevotes">
      <div class="container">
        <span class="header">Aktywne głosowania</span>
        <span>Oto głosowania w których mozesz wziać udział:</span>
        <div id="votebanner">
          <app-activevote></app-activevote>
        </div>
        <span class="header">Nadchodzące głosowania</span>
        <span>Sprawdź jakie głosownia odbędą się w najbliższym czasie:</span>
        <div id="upcomingbanner" (mouseenter)="showButtons()" (mouseleave)="showButtons()" (scroll)="showButtons()" #cardSlide>

          <button mat-mini-fab aria-label="Example icon button with a menu icon" class="left"
                  *ngIf="showLeftButton"
                  (click)="scrollLeft()">
            <mat-icon>chevron_left</mat-icon>
          </button>
          <button mat-mini-fab aria-label="Example icon button with a menu icon" class="right"
                  *ngIf="showRightButton"
                  (click)="scrollRight()">
            <mat-icon>chevron_right</mat-icon>
          </button>
          <app-upcomingvote></app-upcomingvote>
          <app-upcomingvote></app-upcomingvote>
          <app-upcomingvote></app-upcomingvote>
          <app-upcomingvote></app-upcomingvote>
          <app-upcomingvote></app-upcomingvote>
        </div>
      </div>
    </div>
  </div>
</div>

