<div class="dashboard">
  <p class="greeting">Dzień dobry, Dawid!</p>
  <div class="content">
    <div class="activevotes">
      <div class="container">
        <p class="header">Aktywne głosowania</p>
        <p>Oto głosowania w których mozesz wziać udział:</p>
        <div id="votebanner">
          <app-activevote></app-activevote>
        </div>
        <p class="header">Nadchodzące głosowania</p>
        <p>Sprawdź jakie głosownia odbędą się w najbliżym czasie:</p>
        <div id="upcomingbanner">
          <app-upcomingvote></app-upcomingvote>
        </div>
      </div>
    </div>
  </div>
</div>

