<div class="dashboard">
  <span class="greeting">Dzień dobry, Dawid!</span>
  <div class="content">
    <div class="activevotes">
      <div class="container">
        <span class="header">Aktywne głosowania</span>
        <span>Oto głosowania w których mozesz wziać udział:</span>
        <div id="votebanner">
          <app-activevote></app-activevote>
        </div>
        <span class="header">Nadchodzące głosowania</span>
        <span>Sprawdź jakie głosownia odbędą się w najbliżym czasie:</span>
        <div id="upcomingbanner">
          <app-upcomingvote></app-upcomingvote>
        </div>
      </div>
    </div>
  </div>
</div>

