<div class="main-container">
  <mat-toolbar color="primary">
    @if (isHandset$ | async) {
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    }
    <span>evoting</span>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async) === false">
      <div class="navlist">
        <div class="navbuttons">
          <div class="nav-item active">Moje wybory</div>
          <div class="nav-item">Historia</div>
          <div class="nav-item">Ustawienia</div>
          <div class="nav-item">Wyloguj</div>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
